/* 
    Aviso Importante:
    - Sempre confira se o seletor CSS corresponde à classe usada no HTML.
    - Alguns seletores deste arquivo são reaproveitados em mais de uma página (.html).
    - Há classes em comum entre diferentes arquivos HTML, então alterações podem afetar
    mais de um layout.
*/

/*--------------------------------- index.html configurações css ---------------------------------------------------------------------------------------*/

nav > ul {
    list-style: none;
}

.layout-index {
    margin-left: -9vh;
    padding-left: 1%;
    padding-right: 3%;
    margin-top: -9vh;
    width: 100%;
    height: auto;
}

.layout-index header {
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.layout-index img { /* Esta propriedade é para o logo do site, a imagem do bloco de notas */
    width: 20vh;
    height: auto; 
}

.layout-index h1 {
    border-radius: 49px;
    border: 2px solid black;
    padding: 10px;
    margin-left: -1%;
}

.rodape-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(247, 235, 235);
    width: 100%; 
    bottom: 0; 
    left: 0; 
    margin: 0;
    position: fixed;
    z-index: 1000; 
    /* 
        Descrição para tirar dúvidas quanto as configurações desse elemento: "Key characteristics of position: fixed;:
        Viewpoint-relative positioning:
        The element's position is determined by its distance from the edges of the browser window (viewport), using properties like top, right, bottom, and left." 
    */
}

.introducao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.introducao main p{
    margin-top: 30%;
}

a button{
    width: 40vh;
    height: 8vh;  
}

a button:hover {
    background-color: black;
    color: white;
}

/*-------------------------------------------------------------------------------------------*/

/* Configurações Globais */
.icone_sobre {
    position: fixed;
    left: 202vh;
    bottom: 18vh;
}

.icone_sobre img{
    width: 6vh;
    height: auto;
}

.caixa_icone_sobre {
    width: auto;
    height: auto;
    display: flexbox;
    background-color: red;
}
/* Delimitação de configuração Globais */


/*--------------------------------- sobre.html configurações css ---------------------------------------------------------------------------------------*/

.introducao_sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 12vh;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
